.createFields {
  width: 100%;
  /* top: calc(50% - 50px/2 - 86.5px); */

  border: 2px solid #59c9a5;
  border-radius: 1.5rem;

  margin-bottom: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;

  background-color: white;
}

.createFields__title {
  font-size: 1.2rem;
  color: #465775;
}

.createFields__field {
  padding: 0.3rem 0.6rem;
  width: 100%;
  min-height: 3rem;
  margin-bottom: 0.5rem;
  /* top: calc(50% - 50px/2 - 86.5px); */

  border: 2px solid #59c9a5;
  border-radius: 1.5rem;
}

.createFields__field__title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.createFields__field__type {
  font-size: 1.2rem;
  color: #465775;
  margin: 0.3rem;
  padding: 0.2rem;
  background: none;
}

.createFields__field__type:focus {
  outline: none;
}

.createFields__field__type__option {
  font-size: 1.1rem;
  color: #465775;
}

.createFields__field__delete {
  width: 1.5rem;
  height: 1.5rem;

  color: #465775;
}

.createFields__field__delete:hover {
  background-color: rgb(206, 206, 206);
  border-radius: 1rem;
}

.createFields__field__titleSep {
  height: 1px;
  border-bottom: 1px solid #59c9a5;
  margin-bottom: 0.3rem;
}
