.eventHost {
  position: relative;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eventHost__header {
  width: 100%;
  height: 3rem;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.eventHost__header__title {
  width: 70%;
  text-align: center;
  font-size: 1.4rem;
  color: #465775;
}

.eventHost__header__icon {
  position: absolute;
  left: 0;
  width: 3rem;
  height: 3rem;

  color: #465775;
}

.eventHost__header__icon:hover {
  background-color: rgb(206, 206, 206);
  border-radius: 2rem;
}

.eventHost__content {
  position: relative;
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  overflow-y: hidden;
  flex-grow: 1;
}

.eventHost__content > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.eventHost__field {
  padding: 0.6rem;
  width: 100%;
  margin-bottom: 1rem;

  border-radius: 1.5rem;
  border: 1px solid #336666;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.eventHost__field__title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  color: #336666;
  margin: 0.3rem;
  padding: 0.2rem;
}

.eventHost__field__viewModeSelect {
  width: 15rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.eventHost__field__mood {
}

.eventHost__field__mood__average {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eventHost__field__mood__average__title {
  font-size: 1.2rem;
}

.eventHost__field__mood__average__emoji {
  width: 4rem;
  height: 4rem;

  color: #336666;
}

.eventHost__field__mood__timeSeries {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.eventHost__field__text {
  /* height: 20rem; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.eventHost__field__text__average {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eventHost__field__text__average__title {
  font-size: 1.1rem;
}

.eventHost__field__text__average__value {
  font-size: 1.4rem;
}

.eventHost__field__text__timeSeries {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.eventHost__field__text__wordcloud {
  height: 15rem;
  /* border: 1px solid #59c9a5; */
  border-radius: 1rem;
}

.eventHost__field__text__keyPhrase {
  margin-bottom: 0.5rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.eventHost__field__text__keyPhrase__phrase {
  font-size: 1.1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
