.eventParticipant {
  position: relative;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eventParticipant__header {
  width: 100%;
  height: 3rem;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.eventParticipant__header__title {
  width: 80%;
  text-align: center;
  font-size: 1.4rem;
  color: #465775;
}

.eventParticipant__header__icon {
  position: absolute;
  left: 0;
  width: 3rem;
  height: 3rem;

  color: #465775;
}

.eventParticipant__header__icon:hover {
  background-color: rgb(206, 206, 206);
  border-radius: 2rem;
}

.eventParticipant__content {
  position: relative;
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  overflow-y: hidden;
  flex-grow: 1;
}

.eventParticipant__content > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.eventParticipant__field {
  padding: 0.6rem;
  width: 100%;
  margin-bottom: 1rem;

  border-radius: 1.5rem;
  background-color: #336666;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.eventParticipant__field__title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  color: white;
  margin: 0.3rem;
  padding: 0.2rem;
}

