.eventList {
  width: 100%;
  margin-top: 0.5rem;
  position: relative;
  overflow-y: hidden;
  flex-grow: 1;
}

.eventList > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}

.eventItem__wrapper {
  height: 4rem;
  margin-top: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: #435252;
  border-radius: 0.5rem;

  padding: 0.5rem;
}

.eventItem__wrapper__selectable {
  background-color: #336666;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.164), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.eventItem__wrapper__selectable:hover {
  box-shadow: none;
  background-color: #245353;
}

.eventItem__details {
  width: 50%;
  font-family: Roboto;
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
}

.eventItem__name {
  font-family: Roboto;
  font-size: 1.3rem;
  font-weight: 400;
  color: white;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.eventItem__type {
  font-family: Roboto;
  font-size: 1.1rem;
  font-weight: 400;
  color: white;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.eventItem__activeStatus {
  width: 5rem;
  font-family: Roboto;
  font-size: 1rem;
  text-align: right;
  font-weight: 400;
  color: white;
}

.eventItem__time {
  font-family: Roboto;
  font-size: 0.7rem;
  text-align: right;
  font-weight: 400;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
}
