.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 0.2rem;
}

.header__email {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;

  color: #336666;
}
