.host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

.eventList__title {
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  color: #465775;
}