#invite {
  width: 100%;
  /* top: calc(50% - 50px/2 - 86.5px); */

  border: 2px solid #59c9a5;
  border-radius: 1.5rem;

  margin-bottom: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;

  background-color: white;
}

#invite__title {
  font-size: 1.2rem;
  color: #465775;
}

#invite__invite {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.invite__email {
  margin-top: 0.4rem;
  font-size: 1.1rem;
  color: #465775;
}
