.invite {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.invite__email {
  height: 2.5rem;
  border-radius: 1.5rem;
  /* flex-grow: 1; */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.35rem;

  background-color: white;
  margin-top: 0.5rem;
}

.invite__email__input {
  padding: 0;
  margin: 0;
  border-radius: 0;
  width: calc(100% - 7rem);

  margin-left: 0.4rem;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;

  display: flex;
  justify-content: center;

  background: none;
  border: none;

  color: #465775;
}

.invite__email__input:focus {
  outline: none;
}

.invite__email__input::placeholder {
  outline: none;
  color: #465775;
  font-family: Roboto;
  font-weight: 400;
}

.invite__userInvited {
  color: white;
}