.event {
  height: 3rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 0.1rem solid #465775;
}

.event__name {
  width: 50%;
  font-family: Roboto;
  font-size: 1.2rem;
  font-weight: 400;
  color: #5B6C5D

}

.event__time {
  width: 50%;
  font-family: Roboto;
  font-size: 0.7rem;
  text-align: right;
  font-weight: 400;
  color: #5B6C5D
}
