#login {
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.email-field {
  /* Email Field */
  position: absolute;
  width: 300px;
  height: 60px;
  left: calc(50% - 300px / 2 + 0.5px);
  top: calc(50% - 60px / 2 - 81.5px);
}

.email-field-input {
  /* Email... */
  position: absolute;
  width: 205px;
  height: 28px;
  left: calc(50% - 205px / 2 + 25.5px);
  top: calc(50% - 28px / 2);

  font-family: Roboto;
  font-weight: 200;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;

  background: none;
  border: none;

  color: #754646;
}

.test {
  color: #ff0000;
}

.email-icon {
  position: absolute;
  width: 33px;
  height: 34.83px;
  left: calc(50% - 33px / 2 - 112px);
  top: calc(50% - 34.83px / 2 - 0.92px);

  color: #465775;
}

div.email-rect {
  /* Rectangle 1 */
  position: absolute;
  width: 300px;
  height: 60px;
  left: calc(50% - 300px / 2);
  top: calc(50% - 60px / 2);

  border: 2px solid #59c9a5;
  border-radius: 30px;
}

div.email-line {
  position: absolute;
  width: 1px;
  height: 42px;
  left: calc(50% - 1px / 2 - 86.5px);
  top: calc(50% - 42px / 2);

  background: #59c9a5;
}

.password-field {
  /* Password Field */

  position: absolute;
  width: 300px;
  height: 60px;
  left: calc(50% - 300px / 2);
  top: calc(50% - 60px / 2 + 0.5px);
}

.password-field-input {
  /* Password... */
  position: absolute;
  width: 205px;
  height: 28px;
  left: calc(50% - 205px / 2 + 25.5px);
  top: calc(50% - 28px / 2);

  font-family: Roboto;
  font-weight: 200;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;

  background: none;
  border: none;

  color: #465775;
}

div.password-rect {
  /* Rectangle 1 */
  position: absolute;
  width: 300px;
  height: 60px;
  left: calc(50% - 300px / 2);
  top: calc(50% - 60px / 2);

  border: 2px solid #59c9a5;
  border-radius: 30px;
}

div.password-line {
  position: absolute;
  width: 1px;
  height: 42px;
  left: calc(50% - 1px / 2 - 86.5px);
  top: calc(50% - 42px / 2);

  background: #59c9a5;
}

div.login-button {
  /* Login Button */

  position: absolute;
  width: 300px;
  height: 60px;
  left: calc(50% - 300px / 2);
  top: calc(50% - 60px / 2 + 82.5px);
}

div.login-button:hover {
  cursor: pointer;
}

div.login-rect {
  position: absolute;
  width: 300px;
  height: 60px;
  left: calc(50% - 300px / 2);
  top: calc(50% - 60px / 2);

  background: #59c9a5;
  border-radius: 20px;
}

div.login-text {
  position: absolute;
  width: 60px;
  height: 28px;
  left: calc(50% - 60px / 2);
  top: calc(50% - 28px / 2);

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

div.register-button {
  /* Register Button */

  position: absolute;
  width: 300px;
  height: 60px;
  left: calc(50% - 300px / 2);
  top: calc(50% - 60px / 2 + 150.5px);
}

div.register-button:hover {
  cursor: pointer;
}

div.register-rect {
  position: absolute;
  width: 300px;
  height: 60px;
  left: calc(50% - 300px / 2);
  top: calc(50% - 60px / 2);

  background: #465775;
  border-radius: 20px;
}

div.register-text {
  position: absolute;
  width: 88px;
  height: 28px;
  left: calc(50% - 88px / 2);
  top: calc(50% - 28px / 2 - 0.6px);

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
