.modeBtn__wrapper {
  position: relative;
  width: 100%;
  height: 3rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  border: 2px solid #277C72;
  border-radius: 1.5rem;
}

.modeBtn__highlighter {
  position: absolute;
  width: calc(50% - 0.3rem);
  height: calc(100% - (2 * 0.3rem));
  left: 0.3rem;

  transition: 0.3s ease-in-out;
  background-color: #277C72;
  border-radius: 1.5rem;
  z-index: -5;
}

.modeBtn__highlighter__right {
  transform: translate(100%);
}

.modeBtn__option {
  width: calc(50% - (2 * 0.5rem));

  text-align: center;
  font-size: 1.2rem;
  color: #277C72;
  cursor: pointer;

  border-radius: 1.5rem;

  transition: color 0.4s ease-in-out, background-color 0.2s;
}

.modeBtn__option__sel {
  color: white;
}

.modeBtn__option__notSel:hover {
  background-color: #3bb48e52;
}
