.moodSubmitting__wrapper {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .moodSubmitting__emojis {
    width: 4rem;
    height: 4rem;
  
    color: white;
  }
  
  .moodSubmitting__emojis:hover {
    width: 5rem;
    height: 5rem;
    background-color: #224444;
    border-radius: 3rem;
  }
  
  .moodSubmitting__emojis__selected {
    width: 5rem;
    height: 5rem;
    background-color: #224444;
    border-radius: 3rem;
  }
  