.button {
  /* Register Button */
  width: 19rem;
  height: 2.5rem;
  /* top: calc(50% - 50px/2 + 35.5px); */

  background: #465775;
  border-radius: 0.7rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

div.button:hover {
  cursor: pointer;
  filter: brightness(80%);
}

div.button__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  text-align: center;

  color: #ffffff;
}
