.button {
  width: 19rem;
  height: 2.5rem;
  background: #465775;
  outline: none;
  border: none;
  border-radius: 0.7rem;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  font-family: Roboto;
  font-size: 1.5rem;
  text-align: center;
  color: #ffffff;
}

.button:hover {
  filter: brightness(80%);
}

.button.disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
