.textField {
  /* Email Field */
  width: 19rem;
  height: 3em;
  /* top: calc(50% - 50px/2 - 86.5px); */

  border: 2px solid #59c9a5;
  border-radius: 19rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  background-color: white;
}

.textField__icon {
  width: 2rem;
  height: 2rem;

  color: #465775;
}

.textField__input {
  /* Email... */
  padding: 0;
  margin: 0;
  border-radius: 0;

  width: calc(100% - 2.5rem);

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;

  display: flex;
  justify-content: center;

  background: none;
  border: none;

  color: #465775;
}

.textField__input:focus {
  outline: none;
}

.textField__input::placeholder {
  outline: none;
  color: #465775;
  font-family: Roboto;
  font-weight: 200;
}

.textField__inputNoIcon {
  width: calc(100% - 1rem);
  margin-left: 0.5rem;
}

.textField__sepLine {
  width: 1px;
  height: 1.5em;

  background: #59c9a5;
}
