.textField {
  width: 100%;
  height: 3rem;

  border: 2px solid #EE862F;
  border-radius: 1.5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  background-color: white;
}

.textField__icon {
  width: 2rem;
  height: 2rem;

  color: #465775;
}

.textField__input {
  padding: 0;
  margin: 0;
  border-radius: 0;

  width: calc(100% - 2.5rem);

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;

  display: flex;
  justify-content: center;

  background: none;
  border: none;

  color: #465775;
}

.textField__input:focus {
  outline: none;
}

.textField__input::placeholder {
  outline: none;
  color: #465775;
  font-family: Roboto;
  font-weight: 400;
}

.textField__textarea {
  resize: none;
  padding: 0;
  margin: 0;
  border-radius: 0;

  height: calc(100% - 1rem);
  width: calc(100% - 1rem);
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;

  background: none;
  border: none;

  color: #465775;
}

.textField__textarea:focus {
  outline: none;
}

.textField__textarea::placeholder {
  outline: none;
  color: #465775;
  font-family: Roboto;
  font-weight: 200;
}

.textField__inputNoIcon {
  width: calc(100% - 1rem);
  margin-left: 0.5rem;
}

.textField__sepLine {
  width: 1px;
  height: 1.5em;

  background: #EE862F;
}
