.textField {
  /* Email Field */
  position: relative;
  width: 300px;
  height: 50px;
  left: calc(50% - 300px / 2 + 0.5px);
  /* top: calc(50% - 50px/2 - 86.5px); */

  border: 2px solid #59c9a5;
  border-radius: 25px;
}

.textField__icon {
  position: absolute;
  width: 28px;
  height: 30px;
  left: calc(50% - 28px / 2 - 122px);
  top: calc(50% - 30px / 2);

  color: #465775;
}

.textField__input {
  /* Email... */
  position: absolute;
  width: 226px;
  height: 23px;
  left: calc(50% - 226px / 2 + 22px);
  top: calc(50% - 23px / 2 + 1.5px);

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;

  background: none;
  border: none;

  color: #465775;
}

.textField__input:focus {
  outline: none;
}

.textField__input::placeholder {
  outline: none;
  color: #465775;
  font-family: Roboto;
  font-weight: 200;
}

.textField__sepLine {
  position: absolute;
  width: 1px;
  height: 34px;
  left: calc(50% - 1px / 2 - 99.5px);
  top: calc(50% - 34px / 2);

  background: #59c9a5;
}
