.createFields__field {
  width: 100%;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  padding: 1rem;

  background-color: white;
}

.createFields__field__title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 0.5rem;
}

.createFields__field__type {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.createFields__field__type__select {
  margin-left: 0.5rem;
  width: 9rem;
}

.createFields__field__delete {
  width: 1.5rem;
  height: 1.5rem;

  color: #465775;
}

.createFields__field__delete:hover {
  background-color: rgb(206, 206, 206);
  border-radius: 1rem;
}

.createFields__field__titleSep {
  width: 100%;
  border-bottom: 2px solid #336666;
  margin-bottom: 0.3rem;
}
