.tab {
  width: 100%;
  max-width: 50rem;
  border: 2px solid #59c9a5;
  background-color: rgb(235, 235, 235);
}

.tab__content {
  /* padding: 10rem; */
  margin: 0.5rem;
  max-height: 22rem;
}

.tab__select {
  width: 100%;
  height: 2rem;
  display: flex;
  flex-direction: row;
}

.tab__option {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Roboto;
  font-size: 1.2rem;
  font-style: italic;
  text-decoration: underline;
  color: white;
  background-color: #59c9a5;
  border-bottom: 1px solid darkslategrey;
}

.tab__option:hover {
  cursor: pointer;
  filter: brightness(90%);
}

.tab__selected {
  color: #59c9a5;
  background-color: rgb(235, 235, 235);
  border-bottom: none;
  font-style: normal;
}

.tab__selected:hover {
  cursor: initial;
  filter: none;
}
