#wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: none;
}

#wrapper > div {
  height: 100vh;
  padding: 0.5rem;
  max-width: 50rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: none;
}
